.footer {
  background-color: var(--dark-color);
  color: white;
  padding: 3rem 0 1.5rem;
  background: linear-gradient(135deg, #121212, #000000, #f58d8d), url('/public/images/abstract-bg.jpg'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="2" cy="2" r="2" fill="rgba(255,255,255,0.2)"/></svg>');
  background-size: cover, 200% 200%, 20px 20px;
  background-attachment: fixed;
  animation: gradient-animation 10s ease infinite;
}

.footer-container {
  max-width: 100;
  margin: 0 auto;
  padding: 1rem 10%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer-logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.footer-links ul {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  color: #a0aec0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: white;
}

.footer-bottom-left {
  text-align: left;
  color: white;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #a0aec0;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: white;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: right;
}

.footer-bottom p {
  color: #ffffff;
  font-size: 0.9rem;
  text-align: right;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
} 